@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald&display=swap');

/* Basic CSS */

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Lato, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
}

html {
    scroll-behavior: smooth;
}

h1, h2 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    color: #252525;
}

hr {
    border:0;border-top:1px solid #3a3a3a;margin:15px 1px;
}

#im-a1 {
    grid-area: a1;
}

#im-b1 {
    grid-area: b1;
}

#im-a2 {
    grid-area: a2;
}

#im-b2 {
    grid-area: b2;
}

#im-a3 {
    grid-area: a3;
}

#im-b3 {
    grid-area: b3;
}

/* Logo and Navbar */

#logo {
    float: left;
    font-size: 230%;
    margin-left: 20px;
    margin-top: 7px;
}

#menu {
    font-size: 90%;
    letter-spacing: 1px;
}

#menu, #logo {
    line-height: 60px;
}

#menu li {
    float: right;
    list-style: none;
    margin-right: 20px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

/* May be deleted */
header { 
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    background-color: #fff;
    transition: box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

header.scrolled {
    background-color: #f8f8f8;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
/* end May be deleted */
/* End Logo and Navbar */

/* Hero section */

#hero {
    height: 400px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-bg {
    height: 100%;
    width: 100%;
    background: url('../images/image1.jpeg') no-repeat center center;
    background-size: cover;
    animation-name: background-img;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

@keyframes background-img {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.4);
    }
}

#welcome-circle {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    text-align: center;
    font-size: 1rem;
    background-color: #f8f8f8;
    bottom: 2vmin;
    left: 6vmin;
    position: absolute;
    border: 2px solid #3a3a3a;
    opacity: 0;
    animation: 1s ease-out 2s forwards welcome-circle-appear;
}

@keyframes welcome-circle-appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.9;
    }
}

#welcome-circle:hover {
    font-weight: 500;
    width: 162px;
    height: 162;
    border: 3px solid grey;
    cursor: pointer;
}

.welcome-circle-text {
    margin: 10px;
    padding-top: 20px;
}
/* End Hero section */

/* About Us section */

#about {
    width: 100%;
    height: 400px;
    margin-top: 15px;
    text-align: center;
}

#about h2 {
    margin-bottom: 15px;
    line-height: 60px;
    font-size: 150%;
    letter-spacing: 1px;
}

.container-about {
    width: 50%;
    height: 70%;
    background-color: #3a3a3a;
    color: #fff;
    border-radius: 15px;
    float: right;
    margin-right: 10%;
    position: relative;
    font-family: Latos, sans-serif;
}

.container-about p {
    position: absolute;
    margin: 0 4%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 90%;
    position: relative;
}

.about-image {
    aspect-ratio: 1/1;
    height: 70%;
    object-fit: cover;
    margin-left: 12%;
    border-radius: 50%;
    float: left;
    border: 2px solid #3a3a3a;
}
/* End About Us section */

/* Gallery */

#gallery {
    margin-top: 50px;
    text-align: center;
}

#gallery h2 {
    margin-bottom: 45px;
    line-height: 60px;
    font-size: 150%;
    letter-spacing: 1px;
}

.images {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    margin: 0 auto;
    max-width: 800px;
}

.images img {
    width: 100%;
    height: auto;
}

.masonry-item.zoom {
    cursor: pointer;
}

.masonry-item.zoom:hover {
    transform: scale(1.05);
    z-index: 2;
}

.masonry-item.zoom:active {
    transform: scale(2.5);
    z-index: 3;
}

.masonry-item.zoom img {
    transition: transform 0.2s ease-in-out;
}
/* End Gallery */

/* Latest Flights */

#flights {
    height: 650px;
    width: 100%;
}

#flights h2 {
    margin-bottom: 65px;
    line-height: 60px;
    font-size: 150%;
    letter-spacing: 1px;
    text-align: center;
}

.three-latest-flights {
    margin: 0 1%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 290px 200px;
    column-gap: 35px;
    row-gap: 40px;
    grid-template-areas:
    "a1 a2 a3"
    "b1 b2 b3";
}

.images-container {
    margin: 0 auto;
    position: relative;
}

.latest-flight-img {
    aspect-ratio: 1/1;
    width: 270px;
    object-fit: cover;
    border-radius: 50%;
    border: 6px solid #3a3a3a;
}

.demo-img {
    width: 290px;
}

.flight-info {
    width: 60%;
    height: 60%;
    background-color: #3a3a3a;
    border-radius: 15px;
    margin: 0 auto;
    padding: 5px;
    position: relative;
}

.flight-info-2 {
    width: 60%;
    height: 60%;
    background-color: #3a3a3a;
    border-radius: 15px;
    margin: 0 auto;
    padding: 5px;
    position: relative;
}

.flight-info-3 {
    width: 60%;
    height: 60%;
    background-color: #3a3a3a;
    border-radius: 15px;
    margin: 0 auto;
    padding: 5px;
    position: relative;
}

.flight-info p {
    position: absolute;
    margin: 0 5%;
    top: 15%;
    transform: translateY(-50%);
    font-size: 100%;
    text-align: justify;
    color: #fff;
}

.flight-info-2 p {
    position: absolute;
    margin: 0 5%;
    top: 15%;
    transform: translateY(-50%);
    font-size: 100%;
    text-align: justify;
    color: #fff;
}

.flight-info-3 p {
    position: absolute;
    margin: 0 5%;
    top: 15%;
    transform: translateY(-50%);
    font-size: 100%;
    text-align: justify;
    color: #fff;
}

.flight-info p:nth-child(2) {
    position: absolute;
    margin: 0 5%;
    top: 40%;
    font-size: 80%;
}

.flight-info-2 p:nth-child(2) {
    position: absolute;
    margin: 0 5%;
    top: 40%;
    font-size: 80%;
}

.flight-info-3 p:nth-child(2) {
    position: absolute;
    margin: 0 5%;
    top: 40%;
    font-size: 80%;
}

.flight-info p:nth-child(3) {
    position: absolute;
    margin: 0 5%;
    top: 55%;
    font-size: 80%;
}

.flight-info-2 p:nth-child(3) {
    position: absolute;
    margin: 0 5%;
    top: 55%;
    font-size: 80%;
}

.flight-info-3 p:nth-child(3) {
    position: absolute;
    margin: 0 5%;
    top: 55%;
    font-size: 80%;
}

.flight-info p:nth-child(4) {
    position: absolute;
    margin: 0 5%;
    top: 70%;
    font-size: 80%;
}

.flight-info-2 p:nth-child(4) {
    position: absolute;
    margin: 0 5%;
    top: 70%;
    font-size: 80%;
}

.flight-info-3 p:nth-child(4) {
    position: absolute;
    margin: 0 5%;
    top: 70%;
    font-size: 80%;
}

.flight-number {
    position: absolute;
    top: -1%;
    left: -15%;
    height: 75px;
    width: 75px;
    background-color: #b8d3d0;
    border: 2px solid #120e11;
    border-radius: 50%;
    float: left;
}

.flight-numbers {
    padding: 25px 0 0 10px;
    font-weight: bold;
    font-size: 50%;
}
/* End Latest Flights */

/* SignUp */

#signup h2 {
    margin-bottom: 15px;
    line-height: 60px;
    font-size: 150%;
    letter-spacing: 1px;
    text-align: center;
}

.registration-form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    max-width: 600px;
    margin: auto;
    padding: 2rem;
    background-color: #f0f0f0;
    border-radius: 5px;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

label {
    font-weight: bold;
    margin-bottom: 0.5rem;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="tel"] {
    padding: 0.5rem;
    border: none;
    border-radius: 3px;
    font-size: 1rem;
    outline: none;
}

.submit-button {
    padding: 0.5rem 0.5rem;
    margin-top: 10%;
    background-color: #3a3a3a;
    color: #fff;
    border: none;
    border-radius: 3px;
    font-size: 1rem;
    cursor: pointer;
}

.password-info {
    font-size: 0.8rem;
    margin-top: 1rem;
    font-style: italic;
}
/* End SignUp */

/* Footer */

footer {
    background-color: #f8f8f8;
    padding: 20px 0; 
    font-size: 14px;
    text-align: center;
    position: sticky;
    bottom: 0;
    width: 100%;
    margin-top: 2%;
}

.social-icons {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: right;
    float: right;
}

.social-icons li {
    display: inline-block;
    margin: 0 10px;
}

.social-icons li a {
    color: #555; 
}

.social-icons li a:hover {
    color: #000;
}

.footer-text {
    margin: 0;
    padding: 0;
    text-align: left;
    float: left;
}
/* End Footer */

/* Thank You Page */

.center-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

#thank-you {
    margin: 15px;
}

#thank-you h2 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

#thank-you p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    font-weight: bold;
}

.btn {
    background-color: #fff;
    border: none;
    color: white;
    padding: 12px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

.btn:hover {
    background-color: grey;
    color: #fff;
}

.btn a {
    text-decoration: none;
}
/* End Thank You Page */

/* On screens that are max 768px */
@media only screen and (max-width: 768px) {
    /* Logo and navbar */
    #logo {
        float: none; /* remove float */
        margin: 10px auto; /* center align */
        font-size: 180%; /* reduce font size */
      }
      
      #menu {
        float: none; /* remove float */
        margin: 0;
        text-align: center; /* center align */
      }
      
      #menu li {
        display: inline-block; /* display menu items as inline-block */
        float: none; /* remove float */
        margin: 0 10px; /* add margin */
      }
      
      #menu a:hover {
        border-bottom: none; /* remove border */
      }

    /* Hero section */
    #hero {
        height: 300px;
      }
    
      #welcome-circle {
        width: 120px;
        height: 120px;
        left: 2vmin;
      }
    
      .welcome-circle-text {
        margin: 5px;
        padding-top: 30px;
        font-size: 70%;
      }

      /* About Us section */
      #about {
        height: auto;
      }
    
      .container-about {
        width: 80%;
        height: auto;
        float: none;
        margin: 0 auto;
        margin-top: 30px;
      }
    
      .container-about p {
        position: static;
        transform: none;
        margin: 10px 0;
        font-size: 80%;
      }
    
      .about-image {
        margin: 0 auto;
        float: none;
        margin-top: 30px;
        width: 200px;
        height: 200px;
      }
      /* Gallery section */
      .images {
        grid-template-columns: repeat(2, 1fr);
      }
    /* Latest Flight section */
    .three-latest-flights {
        margin: 10px 10px;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: 200px 110px;
        grid-template-areas:
        "a1"
        "b1"
        "a2"
        "b2"
        "a3"
        "b3";
        column-gap: 15px;    
        row-gap: 15px;
        grid-auto-rows: 200px 110px;
    }

    .flight-info {
        margin-left: -5%;
        width: 100%;
        height: 90%;
        width: 95%;
    }
    .flight-info-2 {
        margin-left: -5%;
        width: 100%;
        height: 90%;
        width: 95%;
    }
    .flight-info-3 {
        margin-left: -5%;
        width: 100%;
        height: 90%;
        width: 95%;
    }

    .flight-number {
        padding-right: 0;
        margin: 0 auto;
    }

    #flights {
        height: 1255px;
    }

    #flights h2 {
        margin-top: 0px;
        line-height: 50px;
        font-size: 150%;
    }

    #im-a1,
    #im-a2,
    #im-a3
     {
        padding-right: 3.5%;
        padding-top: 0;
    }

    .latest-flight-img {
        width: 190px;
    }

    .demo-img {
        width: 190px;
    }

    .flight-info {
        margin-left: 0;
        margin: 0 auto;
        height: 90%;
        width: 95%;
    }

    .flight-info-2 {
        margin-left: 0;
        margin: 0 auto;
        height: 90%;
        width: 95%;
    }

    .flight-info-3 {
        margin-left: 0;
        margin: 0 auto;
        height: 90%;
        width: 95%;
    }

    .flight-info p {
        font-size: min(100%, 3.35vmin);
    }

    .flight-info-2 p {
        font-size: min(100%, 3.35vmin);
    }

    .flight-info p:nth-child(2) {
        position: absolute;
        margin: 0 5%;
        top: 40%;
        font-size: 80%;
    }

    .flight-info-2 p:nth-child(2) {
        position: absolute;
        margin: 0 5%;
        top: 40%;
        font-size: 80%;
    }
    
    .flight-info p:nth-child(3) {
        position: absolute;
        margin: 0 5%;
        top: 55%;
        font-size: 80%;
    }
    
    .flight-info p:nth-child(4) {
        position: absolute;
        margin: 0 5%;
        top: 70%;
        font-size: 80%;
    }

    .images-container {
        padding-right: 0;
        margin: 0 auto;
    }  

    /* SignUp section */
    .registration-form {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 1rem;
        max-width: 600px;
        margin: auto;
        padding: 2rem;
        background-color: #f0f0f0;
        border-radius: 5px;
    }

    /* Footer section */
    footer {
        padding: 10px 0; /* reduce padding */
      }
      
      .social-icons {
        text-align: center; /* center align social icons */
        float: none; /* remove float */
        margin-top: 10px; /* add margin */
      }
      
      .social-icons li {
        display: block; /* display social icons as block */
        margin: 10px auto; /* center align social icons */
      }
      
      .footer-text {
        text-align: center; /* center align footer text */
        float: none; /* remove float */
        margin-top: 10px; /* add margin */
      }
}

/* End On screens that are max 768px */

/* On screens that are max 480px */
@media only screen and (max-width: 480px) {
    
}

/* End On screens that are max 480px */

/* On screens that are max 280px */
@media only screen and (max-width: 280px) {
    #logo {
        margin-top: 5px; /* reduce margin */
        font-size: 150%; /* reduce font size further */
      }
      
      #menu li {
        margin: 0 5px; /* reduce margin */
      }
}

/* End On screens that are max 280px */